<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello world </h1>
    <h2>Random Name Gen {{ names }}</h2>
    <p>{{stuff | safe}}</p>
    <p>{{stuff | striptags }}</p> <!-- remove html tags - can be used in comments and searchboxes to avoid injection-->
    <h3>Favorite Food : </h3>
    {% for food in foods %}
            {% if food == 12 %}
                {{ food + 100}}
            
            {% endif %}

        {{ food }}<br>
    {% endfor %}

    <h1>{{ foods.1}}</h1>
    <h1>{{ foods.2}}</h1>
    <h1>{{ foods.3}}</h1>
    <h1>{{ foods.4}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat deleniti exp
        licabo fuga illo eius eos quis recusandae alias nesciunt. Atque, maiores aliquam
         unde nisi minus vero? Reprehenderit odio doloremque explicabo incidunt perspiciatis mollitia non, labore minus obcae
        cati expedita quibusdam, reiciendis unde sed nulla dicta, inventore rem odit id perferendis praesentium.</p>
</body>
</html>