{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}
{% block content %}


    <h1>Hello world </h1>
    <h2>Random Name Gen {{ names }}</h2>
    <p>{{stuff | safe}}</p>
    <p>{{stuff | striptags }}</p> <!-- remove html tags - can be used in comments and searchboxes to avoid injection-->
    <h3>Favorite Food : </h3>
    {% for food in foods %}
            {% if food == 12 %}
                {{ food + 100}}
            
            {% endif %}

        {{ food }}<br>
    {% endfor %}

    <h1>{{ foods.1}}</h1>
    <h1>{{ foods.2}}</h1>
    <h1>{{ foods.3}}</h1>
    <h1>{{ foods.4}}</h1>
 {% endblock %}